.corpo {
  position: relative;
  height: 900px;
  background-image: url(/img/admin/snowflakes.png);
  background-size: cover;
}

.campo {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  top: 30%;
  left: 38%;
  background-color: rgb(23, 1, 114);
  padding: 20px;
  border-radius: 20px;
}

.campo label {
  margin-bottom: 10px;
  color: white;

}
