table {
  width: 100%;
}

.btnVoltar {
  display: flex;
  justify-content: right;
  margin: 10px 0px 20px 0px;
}

.btnVoltar button {
  width: 200px;
}

.fontTabela{
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

#th {
  width: 200px;
}

.nome {
  width: 50px;
}

.mensagem {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mensagem legend{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

.mensagem input {
  width: 1000px;
  height: 100px;
  border: none;
  font-size: 16px;
  text-align: left;
}

.div_btn_ordena{
  display: flex;
  flex-direction: row-reverse;
 /* align-items: end;*/
}

.btn-css {
  color: rgb(0, 0, 0);
  background: #2196f3;
  border-radius: 6px;
  padding: 8px 16px;
  transition: background 0.3s;
  text-align: center;
  min-width: 100px;
  margin-left: 10px;
}

.btn-css:hover {
  background: #1565c0;
}
