
<div >
  <span style="color: white;">{{arrayItensTabela[0].bairro_cliente}}</span>
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">


      <ng-container matColumnDef="linha">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">

          {{element.id_ocorrencias}} </td>
      </ng-container>


      <ng-container matColumnDef="dadosCliente">
        <th mat-header-cell *matHeaderCellDef> Dados </th>
        <td mat-cell *matCellDef="let element">
          <div>
            <table class="fontTabela">
              <th id="th"></th>
              <tr>
                <td class="nome fontTabela"><strong>Nome:................  </strong></td>
                <td>{{element.nome_cliente}} <span> </span> {{element.sobrenome_cliente}}</td>
              </tr>
              <tr>
                <td class="servico fontTabela"><strong>Serviço solicitado:..  </strong></td>
                <td>{{element.servico_ocorrencias}}</td>
              </tr>

              <tr>
                <td class="dataPerdido fontTabela"><strong>Data do pedido:......  </strong></td>
                <td>{{element.dataOcorrencia}}</td>
              </tr>

              <tr>
                <td class="fontTabela"><strong>Nome da Empresa:.  </strong></td>
                <td>{{element.nome_empresa_cliente }}</td>
              </tr>

              <tr>
                <td><strong>Logradouro:..........  </strong></td>
                <td>{{element.rua_cliente}}</td>
              </tr>

              <tr>
                <td><strong>No:..................  </strong></td>
                <td>{{element.numero_cliente}}</td>
              </tr>
              <tr>
                <td><strong>Bairro:..............  </strong></td>
                <td>{{element.bairro_cliente}}</td>
              </tr>
              <tr>
                <td><strong>Cidade:..............  </strong></td>
                <td>{{element.cidade_cliente}}</td>
              </tr>
              <tr>
                <td><strong>UF:..................  </strong></td>
                <td>{{element.estado_cliente}}</td>
              </tr>

            </table>
            <div class="mensagem">
              <div></div>
              <div><legend><strong>Menssagem:</strong></legend>
                <input type="text" name="textTab" id="texTab" value="{{element.mensagem_ocorrencias}}"> </div>
            </div>

          </div>
           </td>
      </ng-container>



      <ng-container matColumnDef="lixeira">
        <th mat-header-cell *matHeaderCellDef> Lixeira </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>
<div class="btnVoltar">
  <button mat-flat-button class="btn-enviar" (click)="btnVoltar()">voltar</button>
</div>
