<div class="corpo">
  <div class="quemSomos">
    <div class="textoQuemSomos">
      <p>
        <span>Quem somos</span><br>
        Fundada em 2023 em Americana - SP, viemos para deixar a nossa marca. Sempre vendendo o que há de melhor em ar condicionado e prestando o melhor serviço tanto para pessoas físicas quanto jurídicas;
      </p>
    </div>
  </div>

  <div class="quemSomos valores">
    <div class="textoQuemSomos">

      <p>
        <span>Nossos Valores</span><br>
        Nós das empresa Fabio Ar Condicionado temos como valores o bom atendimento e a satisfação dos clientes.<br>
      Presamos pelo serviço sempre de qualidade e rapidez com foco no conforto do cliente. Acreditamos que isso é a chave a que no levará a sermos a numero um em vendas e serviços em ar condicionado.
      </p>
    </div>

  <div class="fundo">
    <img src="/img/pagina_quem_somos/fundo_quem_somos.png" alt="">
  </div>
</div>
