.corpo{
  position: relative;
  height: 900px;
  background-image: url(/img/pagina_quem_somos/quemSomoNos_Gemini_Generated_Image.jpeg);
  background-size: cover;

}

.quemSomos {
  position: relative;
  margin-left: 60px;
  width: 500px;
  height: 400px;
  font-size: 20px;
  top: 5%;
  left: 5%;

  color: #000000;
  background-color: aquamarine;
  border: 2px, solid, rgb(40, 50, 240);
  border-radius: 20px;
}

.textoQuemSomos {

  position: absolute;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  top: 20%;


}

.fundo {

  position: absolute;
  top: 30%;
  left: 45%;
}

.fundo img{
  width: 400px;
  height: 600px;

}
