<div class="corpo">

  <mat-card class="card_servico" appearance="outlined">
    <mat-card-content class="texto-sobre-imagem">
      <p>Instalação e manutenção residencial e comercial.<br>
      Revenda de produtos novos e semi-novos.</p>
    </mat-card-content>
  </mat-card>
</div>

  <!-- Card 2 
  <div class="card_posicao">
    <div>
      <mat-card class="card_servico" appearance="outlined">
        <img mat-card-image src="img/pagina_servico/produtos_500x250.jpg" alt="ar-condicionado">
      </mat-card>
    </div>
    <div>
      <mat-card class="card_escrita" appearance="outlined">
        <mat-card-content>
          <p>Revenda de produtos novos e semi-novos com preço justo e qualidade.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  
  <div class="card_posicao">
    <div>
      <mat-card class="card_servico" appearance="outlined">
        <img mat-card-image src="img/pagina_servico/parceiros.jpg" alt="suporte">
      </mat-card>
    </div>
    <div>
      <mat-card class="card_escrita" appearance="outlined">
        <mat-card-content>
          <p>Trabalhamos com as melhores marcas.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  -->

