
<div>

<div class="card_posicao">
  <div class="card_servico">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/img/pagina_servico/manutencao.jpg" alt="manutençao">
      <mat-card-content>
        <p>
          Manutenção ágil de ar condicionado, residenciais ou comerciais
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card_servico">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/img/pagina_servico/condensadora.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         Compre se ar condicionado com quem entende
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card_servico">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="/img/pagina_servico/limpeza.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Sinta o frescor, faça uma limpeza profissional em seu ar condicionado
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="card_posicao">
  <div class="card_servico">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card_servico">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card_servico">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


</div>
