.corpo{
  margin-top: 40px;
  margin-left: 40px;
}
.card_posicao{
  display: flex;
}

.card_servico{
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
  width: 500px;
  height: 250px;
}
