
<div class="corpo">

  <div class="card_posicao">
    <div>
      <mat-card class="card_servico" appearance="outlined" >
        <img mat-card-image src="/img/pagina_servico/manutencao_500x250.jpg" alt="manutenção">
      </mat-card>
    </div>

    <div>
      <mat-card class="card_servico" appearance="outlined" >
        <mat-card-content>
          <p>
            Manutenção ágil de ar condicionado, residenciais ou comerciais.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="card_posicao">

    <div>
      <mat-card class="card_servico" appearance="outlined" >
        <mat-card-content>
          <p>
            Compre seu ar condicionado com quem entende.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card_servico" appearance="outlined" >
        <img mat-card-image src="/img/pagina_servico/produtos_500x250.jpg" alt="produtos">
      </mat-card>
    </div>

  </div>

  <div class="card_posicao">
    <div>
      <mat-card class="card_servico" appearance="outlined" >
        <img mat-card-image src="/img/pagina_servico/limpeza_500x250.jpg" alt="limpeza">
      </mat-card>
    </div>

    <div>
      <mat-card class="card_servico" appearance="outlined" >
        <mat-card-content>
          <p>
            Sinta o frescor, faça uma limpeza profissional em seu ar condicionado.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
