<div class="moldura">
  <div>
    <app-banner-carrousel></app-banner-carrousel>
  </div>
  <div class="menu">
    <button class="btn-menu" mat-button (click)="pagina_servicos()">Serviços</button>
    <!-- <mat-menu #menu="matMenu">
      <button class="btn-menu-item" mat-menu-item (click)="pagina_servicos()">Inicio</button>
      <button class="btn-menu-item" mat-menu-item>Instalação Residencia</button>
      <button class="btn-menu-item" mat-menu-item>Intalação Comecial</button>
      <button mat-menu-item>Limpeza</button>
    </mat-menu> -->

    <button class="btn-menu" mat-button (click)="pagina_produtos()">Produtos</button>
    <button class="btn-menu" mat-button (click)="pagina_quem_somos()">Quem Somos Nós</button>
    <button class="btn-menu" mat-button (click)="pagina_nossos_valores()">Nossos Valores</button>
    <button class="btn-menu" mat-button (click)="pagina_onde_estamos()">Onde Estamos</button>
    <button class="btn-menu" mat-button (click)="pagina_contato()">Contato</button>
    <button class="btn-menu" mat-button>Blog</button>
  </div>
<div>

  @if (selecaoPagina == 0) {
      <app-pagina-servicos></app-pagina-servicos>
  } @else if (selecaoPagina == 1) {
      <app-pagina-produtos></app-pagina-produtos>
  } @else if (selecaoPagina == 2) {
      <app-pagina-quem-somos-nos></app-pagina-quem-somos-nos>
  } @else if (selecaoPagina == 3) {
      <app-pagina-nossos-valores></app-pagina-nossos-valores>
  } @else if (selecaoPagina == 4) {
      <app-pagina-onde-estamos></app-pagina-onde-estamos>
  } @else if (selecaoPagina == 5) {
      <app-pagina-contato></app-pagina-contato>
  }

</div>

  <footer>
  <div class="footer-info">
    <div>
      <div>
          <p><a href="#" (click)="pagina_servicos()">Serviços</a></p>
          <p><a href="#"(click)="pagina_produtos()">Produtos</a></p>
          <p><a href="#"(click)="pagina_quem_somos()">Quem Somos</a></p>
          <p><a href="#" (click)="pagina_nossos_valores()">Nossos Valores</a></p>
      </div>
      <div>
        <p id="cnpj">CNPJ: 52.535.091.0001-61</p>
      </div>
    </div>
    <div>
      <p><a href="#" (click)="pagina_onde_estamos()">Onde Estamos</a></p>
      <p><a href="#" (click)="pagina_contato()">Contatos</a></p>
      <p><a href="#">Blog</a></p>

  </div>
    <div class="endereco">
      <p>
        Endereço: Rua romeu benazi, n° 153 <br>
        Bairro: Parque Nova Carioba,<br>
        Cidade: Campinas<br>
        Estado: São Paulo<br>
        CEP: 13473-789<br>
        Telefone: (19) 974087892
      </p>
    </div>
  </div>
  </footer>

</div>




