<!--  

Codigo original em  
https://ng-bootstrap.github.io/#/components/carousel/examples
  
-->

@if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img class="banner" [src]="images[0]" alt="Random first slide" />
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img class="banner" [src]="images[1]" alt="Random second slide" />
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img class="banner" [src]="images[2]" alt="Banner Fabio AR Comdicionado" />
			</div>
		</ng-template>
	</ngb-carousel>

    
}
