<div class="corpo">

  <div class="fundo">
    <img src="img/pagina_nossos_valores/nossosValores_500x300.jpg" alt="">
  </div>

  <div class="nossosValores">
    <div class="textoNossosValores">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
    </div>
  </div>


</div>
