<div class="corpo">

  <div class="fundo">
    <img src="img/pagina_nossos_valores/nossosValores_500x300.jpg" alt="">
  </div>

  <div class="nossosValores">
    <div class="textoNossosValores">
      <p>
        Nós das empresa Fabio Ar Condicionado temos como valores o bom atendimento e a satisfação dos clientes.<br>
      Presamos pelo serviço sempre de qualidade e rapidez com foco no conforto do cliente. Acreditamos que isso é a chave a que no levará a sermos a numero um em vendas e serviços em ar condicionado.
      </p>
    </div>
  </div>


</div>
