.corpo{
  position: relative;
  height: 900px;
  background-image: url(/img/pagina_nossos_valores/nossosValores_Gemini_Generated_Image.jpeg);
  background-size: cover;
}

.nossosValores {
  position: relative;


  width: 500px;
  height: 400px;
  font-size: 20px;
  top: 30%;
  left: 10%;

  color: #000000;
  border: 2px, solid, rgb(40, 50, 240);
  border-radius: 20px;
}

.textoNossosValores {

  position: absolute;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  top: 20%;


}

.fundo {

  position: absolute;
  top: 5%;
  left: 45%;
  z-index: 1;
}

.fundo img{
  width: 500px;
  height: 300px;
}
