.moldura {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form1 {
    display: flex;
}

.form2_div2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    min-width: 500px;
}


.mat-form1{
    min-width: 500px;
}

.mat-form2{
    margin-left: 40px;
    width: 500px;
}

.mat-form3 {
    margin-left: 40px;
    width: 90px;
}

.mat-form4 {
    margin-left: 40px;
    width: 370px;
}

legend {
    font-size: 15px;
}

.checkBox {
 font-family: 'Courier New', Courier, monospace;
 font-size: 40px;
}

.menssagem {
    margin-left: 10px;
    margin-top: 5px;
}

.btn-enviar {

    margin-inline-start: 350px;
    margin-top: 5px;
    width: 295px;
    border-radius: 10px;
}

.leia_termos {
    margin-left: 10px;
    margin-top: 5px;

}

.leia_termos p{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin-top: 3px;
}

.txt-area {
    min-width: 1040px;
}
.largura-maxima {
    display: flex;
    flex-direction: row;
    min-width: 1040px;
}
