
<!--Componentes Material https://material.angular.io/-->
<div class="moldura">
    <div class="form1">
        <div>
            <mat-form-field class="mat-form1">
                <mat-label>Nome:</mat-label>
                <input matInput [(ngModel)]="setNome" required>
            </mat-form-field> 
        </div>
        <div>
            <mat-form-field class="mat-form1, mat-form2">
                <mat-label>Sobrenome:</mat-label>
                <input matInput [(ngModel)]="setSobrenome" required>
            </mat-form-field>                          
        </div>
    </div>

    <div class="form1">
        <div> 
            <mat-form-field class="mat-form1">
                <mat-label>Telefone:</mat-label>

                <input matInput type="tel" mask="(00) 0000-0000 || (00) 0 0000-0000" [(ngModel)]="setTelefone" required>
            </mat-form-field> 
        </div>   
        <div class="form2_div2">
            <legend>Seviços:</legend>
                <section>
                    <mat-checkbox (change)="ckbInstalacao($event.checked)">Instalação</mat-checkbox>
                    <mat-checkbox (change)="ckbManutencao($event.checked)">Manutenção</mat-checkbox>
                    <mat-checkbox (change)="ckbOutros($event.checked)">Outros</mat-checkbox>
                </section>
        </div>
    </div>
    <div>
        <div>
            <section>
                <mat-checkbox (change)="ckbUsarMesmoNumero($event.checked)">Usar o mesmo número para WhatsApp?</mat-checkbox>
            </section>
        </div>  
        <div class="form1">
            <div>
                <mat-form-field class="mat-form1">
                    <mat-label>WhatsApp:</mat-label>
                    <input matInput type="tel" mask="(00) 0000-0000 || (00) 0 0000-0000" [(ngModel)]="setWhatsApp">
                </mat-form-field> 
            </div>    
            <div>
                <mat-form-field class="mat-form1,  mat-form2">
                    <mat-label>e-mail:</mat-label>
                    <input matInput type="email" [(ngModel)]="setEmail">
                </mat-form-field> 
            </div>
        </div> 
        <div class="form1"> 
            <div class="mat-form1">
                <legend>Prefere retorno por:</legend>
                <section>
                    <mat-checkbox (change)="ckbTelefone($event.checked)">Telefone</mat-checkbox>
                    <mat-checkbox (change)="ckbWhatsApp($event.checked)">WhatsApp</mat-checkbox>
                    <mat-checkbox (change)="ckbE_Mail($event.checked)">E-Mail</mat-checkbox>
                </section>
            </div>
            <div>
                <div>
                    <section class="mat-form2">
                        <mat-checkbox (change)="ckbPessoaJuridica($event.checked)">É pessoa jurídica?</mat-checkbox>  
                    </section>
                </div>
                <div>
                    <mat-form-field class="mat-form1, mat-form2">
                        <mat-label>Nome da Empresa:</mat-label>
                        <input matInput [(ngModel)]="setNomeEmpresa" [disabled]=nome_empresa_estado>
                    </mat-form-field>  
                </div>
            </div>
        </div> 

        <div class="form1">
            <div>
                <mat-form-field class="mat-form1">
                    <mat-label>Rua, Av, etc:</mat-label>
                    <input matInput [(ngModel)]="setRua">
                </mat-form-field>  
            </div>
             
            <div>
                <mat-form-field class="mat-form3">
                    <mat-label>Número:</mat-label>
                    <input matInput [(ngModel)]="setNumero">
                </mat-form-field> 
            </div>
            <div>
                <mat-form-field class="mat-form4">
                    <mat-label>Bairro:</mat-label>
                    <input matInput [(ngModel)]="setBairro">
                </mat-form-field> 
            </div>
        </div>

        <div class="form1">
            <div>
                <mat-form-field class="mat-form1">
                    <mat-label>Cidade:</mat-label>
                    <input matInput [(ngModel)]="setCidade">
                </mat-form-field> 
            </div>
            <div>
                <mat-form-field class="mat-form3">
                    <mat-label>UF</mat-label>
                    <mat-select [(ngModel)]="setUF" name="estado">
                      @for (estado of estados; track estado) {
                        <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

    </div>
    <!--Área de Texto PRIMENG https://primeng.org/textarea -->
    <div class="card flex justify-center, txt-area">
        <label class="menssagem">Menssagem</label>
        <textarea rows="8" cols="123" pTextarea [(ngModel)]="setMensagem" [autoResize]="false"></textarea>
    </div>
    <div class="largura-maxima">
        <div>
            <section>
                <mat-checkbox (change)="ckbTermoPrivacidade($event.checked)">Li e concordo com política de privacidade?</mat-checkbox>  
            </section>
        </div>
        <div class="leia_termos"><a href="#">Leia aqui</a></div>
        <div>
            <button mat-flat-button class="btn-enviar" (click)="btnEnviar()">Enviar</button>
        </div>
    </div>
</div>