
<!--Componentes Material https://material.angular.io/-->
<div class="moldura">
    <div class="form1">
        <div>
            <mat-form-field class="mat-form1">
                <mat-label>Nome:</mat-label>
                <input matInput (change)="nome($event)">
            </mat-form-field> 
        </div>
        <div>
            <mat-form-field class="mat-form1, mat-form2">
                <mat-label>Sobrenome:</mat-label>
                <input matInput (change)="sobrenome($event)">
            </mat-form-field>                          
        </div>
    </div>

    <div class="form1">
        <div> 
            <mat-form-field class="mat-form1">
                <mat-label>Telefone:</mat-label>
                <input matInput>
            </mat-form-field> 
        </div>   
        <div class="form2_div2">
            <legend>Seviços:</legend>
                <section>
                    <mat-checkbox>Instalação</mat-checkbox>
                    <mat-checkbox>Manutenção</mat-checkbox>
                    <mat-checkbox>Outros</mat-checkbox>
                </section>
        </div>
    </div>
    <div>
        <div>
            <section>
                <mat-checkbox>Usar o mesmo número para WhatsApp?</mat-checkbox>
            </section>
        </div>  
        <div class="form1">
            <div>
                <mat-form-field class="mat-form1">
                    <mat-label>WhatsApp:</mat-label>
                    <input matInput>
                </mat-form-field> 
            </div>    
            <div>
                <mat-form-field class="mat-form1,  mat-form2">
                    <mat-label>E-Mail:</mat-label>
                    <input matInput>
                </mat-form-field> 
            </div>
        </div> 
        <div class="form1"> 
            <div class="mat-form1">
                <legend>Prefere retorno por:</legend>
                <section>
                    <mat-checkbox>Telefone</mat-checkbox>
                    <mat-checkbox>WhatsApp</mat-checkbox>
                    <mat-checkbox>E-Mail</mat-checkbox>
                </section>
            </div>
            <div>
                <div>
                    <section class="mat-form2">
                        <mat-checkbox (change)="pessoaJuridica(true)">É pessoa jurídica?</mat-checkbox>  
                    </section>
                </div>
                <div>
                    <mat-form-field class="mat-form1, mat-form2">
                        <mat-label>Nome da Empresa:</mat-label>
                        <input matInput id="juridica" [disabled]=nome_empresa_estado>
                    </mat-form-field>  
                </div>
            </div>
        </div> 

        <div class="form1">
            <div>
                <mat-form-field class="mat-form1">
                    <mat-label>Rua, Av, etc:</mat-label>
                    <input matInput>
                </mat-form-field>  
            </div>
             
            <div>
                <mat-form-field class="mat-form3">
                    <mat-label>Número:</mat-label>
                    <input matInput>
                </mat-form-field> 
            </div>
            <div>
                <mat-form-field class="mat-form4">
                    <mat-label>Bairro:</mat-label>
                    <input matInput>
                </mat-form-field> 
            </div>
        </div>

        <div class="form1">
            <div>
                <mat-form-field class="mat-form1">
                    <mat-label>Cidade:</mat-label>
                    <input matInput>
                </mat-form-field> 
            </div>
            <div>
                <mat-form-field class="mat-form3">
                    <mat-label>UF</mat-label>
                    <mat-select>
                      @for (estado of estados; track estado) {
                        <mat-option [value]="estado.value">{{estado.viewValue}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

    </div>
    <!--Área de Texto PRIMENG https://primeng.org/textarea -->
    <div class="card flex justify-center, txt-area">
        <label class="menssagem">Menssagem</label>
        <textarea rows="8" cols="123" pTextarea [(ngModel)]="value" [autoResize]="false"></textarea>
    </div>
    <div class="largura-maxima">
        <div>
            <section>
                <mat-checkbox>Li e concordo com política de privacidade?</mat-checkbox>  
            </section>
        </div>
        <div class="leia_termos"><a href="#">Leia aqui</a></div>
        <div>
            <button mat-flat-button class="btn-enviar">Enviar</button>
        </div>
    </div>
</div>