<div class="corpo">

  <div class="bloco">
    <div class="cartao">
      <img src="" alt="produtos">
    </div>
    <div class="cartao">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan, mi ac pharetra luctus, quam nunc ultrices felis, a hendrerit eros sem ac nisl. Proin iaculis egestas viverra. Aliquam tristique diam id ex blandit vehicula. Cras efficitur dolor nisi, eget pulvinar metus mattis ac. Quisque sit amet odio condimentum, vulputate</p>
    </div>
  </div>

  <div class="bloco">
    <div class="cartao">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan, mi ac pharetra luctus, quam nunc ultrices felis, a hendrerit eros sem ac nisl. Proin iaculis egestas viverra. Aliquam tristique diam id ex blandit vehicula. Cras efficitur dolor nisi, eget pulvinar metus mattis ac. Quisque sit amet odio condimentum, vulputate</p>
    </div>
    <div class="cartao">
      <img src="" alt="produtos">
    </div>

  </div>

  <div class="bloco">
    <div class="cartao">
    <img src="" alt="produtos">
    </div>
    <div class="cartao">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan, mi ac pharetra luctus, quam nunc ultrices felis, a hendrerit eros sem ac nisl. Proin iaculis egestas viverra. Aliquam tristique diam id ex blandit vehicula. Cras efficitur dolor nisi, eget pulvinar metus mattis ac. Quisque sit amet odio condimentum, vulputate</p>
    </div>
  </div>

</div>
